@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&family=Roboto:wght@100;300;400;500&display=swap');

$clr-primary-200: #f3eed9;
$clr-primary-400: #824936;

$clr-neutral-100: #fff;
$clr-neutral-900: #222c2a;

$ff-primary: 'Roboto', sans-serif;
$ff-accent: 'Playfair Display', serif;


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin h2-color {
    h2{
        color: $clr-primary-200;
    }
}

img{
    max-width: 100%;
    // width: 75%;
    display: block;
}

body{
    font-family: $ff-primary;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

.text-center{
    text-align: center;
}

// .text-justify{
//     text-align: justify;
// }

section, header{
    padding: 4rem 0;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);

    &--narrow{
        max-width: 34rem;
    }
}

.split{
    display: flex;
    flex-direction: column;
}

section{
    padding: 3rem 0;

    .container{
        margin-inline: auto;
        width: min(90%, 70.5rem);
    }
}

h1, h2, h3{
    color: $clr-primary-400;
    line-height: 1;
    font-family: $ff-accent;
    font-weight: 900;
}

h2, h3, p{
    margin-bottom: 1em;
}

.bg-light{ 
    background-color: $clr-primary-200;
}

.bg-dark{ 
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;

    @include h2-color();
}

.bg-primary{ 
    background-color: $clr-primary-400;
    color: $clr-neutral-100;

    @include h2-color();
}


@media screen and (min-width: 40em) {
    section, header{
        padding: 7rem 0;
    }

    .text-justify{
        text-align: justify;
    }

    .split{
        flex-direction: row;

        & > *{
            flex-basis: 100%;

            & + *{
                margin-left: 2em;
            }
        }
    }
    
}